.content{
	text-align: center;
	padding:3rem;
	}
.content h5{
	color:blue;
}

.card{
	width:100%;
	border:1px solid black;
	padding:2rem;
	text-align:center;
	margin:auto;
	align-items:center;
}
.card h5{
	text-align:center;
	margin-top:1rem;
}
.card h3{
	text-align:center;
}
.card img{
	width:100%;
	margin-top:1rem;
	
	}
.card h3{
	color:aqua;
	font-size:1.5rem;
}
.card h5{
	font-size:1.9rem;
}	
	
.card sub{
	color:gray;
}

.card ul li{
	list-style:none;
	margin-top:0.7rem;
}
.card a {
	text-decoration:none;
	width:50%;
	height:5%;
	border:1px solid blue;
	border-radius:20px;
	padding:0.7vh;
	}
	


