.content p{
	color:blue;
	margin-top:3rem;
	text-align:center;
}
.content h3{
	color:#061e66;
	text-align:center;
}
.card-body h5{
	color:00185a;
	
}
.card-body p{
	color:7d6868;
}

.col iconify-icon{
	font-size:1.2rem;

}
.col p {
	font-size:1.2rem;
}
.contents p{
	color:blue;
	margin-top:1rem;
	text-align:center;
}
.contents h3{
	color:#061e66;
	text-align:center;
}


