*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
}
.d-flex{
	display:flex;
}
.head1{
	justify-content:space-between;
}
.navlink{
	position:sticky;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:1;
	background-color:white;
}
.head{
	padding-top:0.7rem;
	padding-left:0.7rem;
}
.head iconify-icon{
	font-size:1.1rem;
	color:#428DCD;
	cursor:pointer;
}
.head a{
	text-decoration:none;
	color:black;	
	font-size:1.1rem;
}
.head span{
	font-size:0.9rem;
}
.top{
	border-bottom:0.1rem solid gray;
}
.face{
	display:none;
}
.header1{
	justify-content:space-between;
}
@media(min-width:768px){
	.face{
		display:block;
		font-size:1.5rem;
		padding:0.5rem;
	}
}
.mamba a{
	font-size:1.7rem;
	color:#1C5CAF;
	text-decoration:none;
	}
.content{
	padding:0.7rem;
	letter-spacing:2;
	justify-content:space-between;
}
.content iconify-icon{
	font-size:2rem;
}
#logo ul{
	display:flex;
}
#logo ul,li{
	list-style:none;
	padding:0.5rem;
		
}
#logo a{
	text-decoration:none;
	font-size:1rem;
	color:gray;
	}
#logo a:hover{
	color:blue;
}
#logo{
	display:none;
}
@media(min-width:1024px){
	#logo{
		display:block;
		display:flex;
	}
	.content iconify-icon{
		display:none;
	}
}
.lorem{
		background:linear-gradient(#00000087,#000000a6),url("slide-1.jpg");
		width:100%;
		padding-bottom:3rem; 
		background-size:cover;
		padding-top:4rem;
		
	}
.dolor h1 {
	font-size:1rem;
	color:white;
	font-weight:800;
	padding-top:1.5rem;
	font-family:arial;
	
}	
.dolor p{
	width:67%;
	font-size:1rem;
	color:white;
	padding-top:1rem;
}
.lin{
	margin:auto;
	margin-top:3rem;
	padding-bottom:2rem;
	}
.lin a{
	text-decoration:none;
	margin-top:3rem;
	border:1px solid 428bca;
	color:white;
	padding:1rem 1.7rem;
	background-color:428bca; 
	border-radius:0.5rem;
	font-weight:700;
}
.lin a:hover{
	background-color:#007aff;
}
@media(min-width:768px){
	
	.dolor h1{
		font-size:1.7rem;
		padding-top:2.5rem;
	}
	.dolor p{
	font-size:1.3rem;
	color:white;
	padding-top:2.2rem;
	width:75%;
	}
	.lin{
	margin:auto;
	margin-top:3rem;
	}
	.lin a{
	text-decoration:none;
	margin-top:5rem;
	border:1px solid 428bca;
	color:white;
	padding:1rem 1.2rem 1rem 1.2rem;
	background-color:428bca;
	border-radius:0.5rem;
	}
}	
@media(min-width:1024px){
	
	.lorem{
		margin-bottom:5rem;
	}
	.dolor h1{
		font-size:2.7rem;
		padding-top:7rem;
}
	.dolor p{
	font-size:1.3rem;
	color:white;
	width:80%;
	}
	.lin{
	margin:auto;
	margin-top:5rem;
	margin-bottom:2rem;
	
	}
	.lin a{
	text-decoration:none;
	margin-top:5rem;
	border:1px solid 428bca;
	color:white;
	padding:1rem 1.2rem 1rem 1.2rem;
	background-color:428bca;
	border-radius:0.5rem;
	}
}
.page2{
		width:100%;
		padding:1rem;
		/* margin-top:3rem; */
}
.about{
	width:100%;	
}
.aboutus{
	width:100%;
}
.aboutus img{
	width:100%;
}	
.aboutus  h1{
	font-size:2rem;
	text-align:center;
	margin-top:3rem;
	color:5C768D;
}
.aboutus p{
	margin-top:1rem;
	color:8C8C8C;
	line-height:1.5;
	font-size:1.1rem;
	font-family:italic;
	}
	.icon1{
	width:100%;
	margin-top:2rem;
}
.abouticon{
	height:5rem;
	width:5rem;
	border:1px solid F1F7FB;
	background-color:#F1F7FB;
	display:flex;
	justify-content:center;
	float:left;
	align-items:center;
	}
.abouticon iconify-icon{
	font-size:2rem;
	color:blue;
}
.abouticon iconify-icon:hover{
	color:white;
	background-color:007aff;
}
.icon1 a{
	text-decoration:none;
	color:black;
	padding:0 0 0 2rem;
	margin-top:5rem;
	font-size:1.3rem;
	font-weight:500;
}
.aboimage iconify-icon{
	color:white;
	font-size:1rem;
}
.aboutus{
	position:relative;
}
.aboimage{
	width:65px;
	height:65px;
	border:1px solid 428bca;
	border-radius:50%;
	background-color:428BCA; 
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
		margin:auto;
	left:35%;
	top:40%;
}
.icon1 a:hover{
	color:blue;
}
.icon1 p{ 
	font-size:1.1rem;
	padding: 0 0 0 6rem	; 
}
@media(min-width:768px){
	.about{
		box-shadow:0px 0px 5px rgb(0 0 0 /15%);		
	}
	.aboimage {
	width:65px;
	height:65px;
	border:1px solid 428bca;
	border-radius:50%;
	background-color:428BCA; 
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
		margin:auto;
	left:45%;
	top:45%;
	}
	.aboutus{
		padding:1.7rem;
		margin-bottom:1rem;
	}
.aboimage iconify-icon{
	color:white;
	font-size:1rem;
}
.aboutus{
	position:relative;
	
}
.aboimage{
	/* position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0; */
}
}
@media(min-width:1024px){
	.page2{
		width:100%;
		/* padding:3rem; */
}
.about{
	width:100%;
	display:flex;
	justify-content:space-between;
	box-shadow:0px 0px 5px rgb(0 0 0/15%);		
}
.aboutus{
	width:48.5%;
}
.aboutus img{
	width:100%;
}
.aboutus  h1{
	font-size:2rem;
	text-align:center;
	margin-top:7rem;
	color:5C768D;
}
.aboutus p{
	margin-top:1rem;
	color:8C8C8C;
	line-height:1.5;
	font-size:1.1rem;
	font-family:italic;
	}
	.aboimage {	
	width:65px;
	height:65px;
	border:1px solid 428bca;
	border-radius:50%;
	background-color:428BCA; 
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
		margin:auto;
	left:35%;
	top:40%;
	}
		
.aboimage iconify-icon{
	
	color:white;
	font-size:1rem;
	
}
.aboutus{
	position:relative;
	margin:auto;
	
}
.aboimage{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
	
	
.icon1{
	width:100%;
	margin-top:2rem;
}
	
.icon1 iconify-icon{
	font-size:2rem;
	height:4.5rem;
	width:4.5rem;
	border:1px solid F1F7FB;
	background-color:#F1F7FB;
	color:blue;
	display:flex;
	justify-content:center;
	float:left;
	align-items:center;
	}
.icon1 iconify-icon:hover{
	color:white;
	background-color:007aff;
}
.icon1 a{
	text-decoration:none;
	color:black;
	padding:0 0 0 2rem;
	margin-top:5rem;
	font-size:1.3rem;
	font-weight:500;
}
.icon1 a:hover{
	color:blue;
}
.icon1 p{ 
	font-size:1.1rem;
}
}
.ipsum{
		width:100%;
		background-color:FFFFFF;
		margin-top:3rem
	}
.ipsum1{
	width:100%;
}
.ipsum1 {
	width:100%;
	padding-bottom:2rem;
}
.ipsum1 h3{
		 padding:1rem; 
		font-size:1.7rem;
		color:9ECCF4;
}
.ipsum1 h2{
		padding:0.7rem; 
		font-size:1.7rem;
}
.ipsum1 p{
		padding:1rem;
		font-size:1.1rem;
		line-height:1.3;
		color:#aaaaaa;
}
.repellat{
	border-bottom:1px solid #9ECCF4;
	}
	.repellat1{
	border-bottom:1px solid #9ECCF4;
	}
	.repellat2{
	border-bottom:1px solid #9ECCF4;
	}
	.repellat3{
	border-bottom:1px solid #9ECCF4;
	}
	.repellat4{
	border-bottom:1px solid #9ECCF4;
	}
	.repellat5{
	border-bottom:1px solid #9ECCF4;
	}
	
@media(min-width:768px){
	.ipsum1{	
		width:100%;
		display:flex;
		/* justify-content:space-between; */
		flex-wrap:wrap;
	}
	.repellat{
	width:50%;
	border-right:1px solid #9ECCF4;
	border-bottom:1px solid #9ECCF4;
	}
	.repellat1{
	width:50%;
	border-bottom:1px solid #9ECCF4;
	}
	.repellat2{
	width:50%;
	border-right:1px solid #9ECCF4;
	border-bottom:1px solid #9ECCF4;
	}
	.repellat3{
	width:50%;
	border-bottom:1px solid #9ECCF4;
	}
	.repellat4{
	width:50%;
	border-right:1px solid #9ECCF4;
	border-bottom:none;
	}
	.repellat5{
	width:50%;
	border-right:1px solid #9ECCF4;
	border-bottom:none;
	}
}
@media(min-width:1024px){
	.ipsum1{
		width:100%;
		display:flex;
		/* justify-content:space-between; */
		flex-wrap:wrap;
	}
	.repellat{
		width:33%;
	border-right:1px solid #9ECCF4;
	border-bottom:1px solid #9ECCF4;
	}
	.repellat1{
	width:33%;
	border-bottom:1px solid #9ECCF4;
	border-right:1px solid #9ECCF4;
	}
	.repellat2{
	width:33%;
	border-bottom:1px solid #9ECCF4;
	border-right:none;
	}
	.repellat3{
	width:33%;
	border-bottom:none;
	border-right:1px solid #9ECCF4;
	}
	.repellat4{
	width:33%;
	border-right:1px solid #9ECCF4;
	border-bottom:none;
	}
	.repellat5{
	width:33%;	
	border-right:1px solid #9ECCF4;
	border-bottom:none;
	
	}
	.rep11{ 
		border-bottom:none;
	}		
	
}

.clients{
	width:100%;
	padding-top:3rem;
	background-color:F5F9FC;
	
}
.client{
	width:100%;
	padding-bottom:1rem;	
	}
.client1{
		width:100%;
		padding:2rem;
		box-shadow:0px 0px 15px #8888884a;
		background-color:white;	
		margin-bottom:2rem;
	}
.client1 h2{
	text-align:center;
	font-size:2.2rem;
	color:#1c5c93;
	font-weight:700;
	}
.client1 p{
	text-align:center;
	font-size:1rem;
	margin-top:1rem;
	line-height:1.5;
	}
@media(min-width:768px){
	
	.clients{
	width:100%;
	padding-top:3rem;
	background-color:F5F9FC;
	}
	.client{
	width:100%;
	padding-bottom:1rem;
	display:flex;
	justify-content:space-between; 
	flex-wrap:wrap; 
	}
	.client1{
		width:48%;
	}
}
@media(min-width:1024px){
	
	.clients{
	width:100%;
	padding-top:3rem;
	background-color:F5F9FC;
	}
	.client{
	width:100%;
	padding-bottom:1rem;
	display:flex;
	justify-content:space-between; 
	flex-wrap:wrap; 
	}
	.client1{
		width:23%;
	}
}

.service{
	width:100%;
	background-color:FFFFFF;
	/* padding:3rem; */
}
.services{
	padding-top:3rem;
	/* padding-bottom:3rem; */
}
.services h1{
	font-size:2.5rem;
	text-align:center;
	color:637C92;
	margin-top:2.5rem;
}
.perspiciatis{
	width:100%;
	/* background-color:green; */
	text-align:center;
	align-items:center;
	padding-bottom:3rem;
	
}
.perspiciatis1{
	width:100%;
	margin-top:2rem;
	
}
.per {
	
	height:60px;
	width:60px;
	border:1px solid F1F7FB;
	background-color:white;
	/* box-shadow:0px 0px 10px; */
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	box-shadow:0px 0px 25px rgb(0 0 0/15%);
	margin:auto;
}
.per iconify-icon{
	font-size:2rem;
	color:blue;
}
.per:hover{
	box-shadow:0px 0px 25px rgb(66 139 202/60%);
}
.perspiciatis1 h2{
	font-size:1.5rem;
	padding:1.5rem;
	cursor:pointer;
}
.perspiciatis1 h2:hover{
	color:#428bca;
}
.perspiciatis1 h2::after{
	content: "";
    height:2px;
    width: 15%;
	margin:auto;
	margin-top:1rem;
	line-height:1;
    background-color:428BCA  ;
    display:block;
}
.perspiciatis1 p{
	color:AEAEAE;
	font-size:1rem
}
@media(min-width:768px){
	
	.perspiciatis{
	width:100%;
	/* background-color:green; */
	text-align:center;
	align-items:center;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	}
.perspiciatis1{
	width:47%;
	margin-top:2rem;
	}
	.perspiciatis1 p{
	color:AEAEAE;
	font-size:1.2rem
	}
	
}
@media(min-width:1024px){
	
	.perspiciatis{
	width:100%;
	text-align:center;
	align-items:center;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	padding-bottom:3rem;
	}
.perspiciatis1{
	width:32%;
	}
	.perspiciatis1 p{
	color:AEAEAE;
	font-size:1.3rem
}
}

.Portfolio{
	width:100%;
	background-color:F5F9FC;
	/* padding-top:2rem; */
}
.Portfolio1 h1{
	font-size:2.5rem;
	text-align:center;
	color:71879C;
	padding-top:3.5rem;
	
}
.Portfolio1 p{
	font-size:1rem;
	text-align:center;
	padding-top:1rem;
}
.moni{
	margin:20px 0px 20px 0px;
	text-align:center;
	padding:0.9rem;
	
}
.moni a{
	font-size:1rem;
	text-decoration:none;
	padding:0.7rem;
	color:black;	
	}
.moni a:hover{
	background-color:#428BCA;
	color:white;	
}
.app1{
	width:100%;
}
.web1{
	width:100%;
	margin-top:2rem;
}
.web1 img{
	width:100%;
}
.web1{
	position:relative;
}
.cup{
	position:absolute;
	top:0; 
	right:0;
	bottom:0;
	left:0;
	border:1px solid black;
	text-align:center;
	/* padding:0.5rem; */
	background-color:#0000009e;
	opacity:0;
}
.cup:hover{
	opacity:1;
	transition:1s all ease;
}
.appicons:hover{
	background-color:#428BCA;
	color:white;
}
.cup h1{
	font-size:2rem;
	color:white;
	margin-top:3rem;
}
.cup h5{
	font-size:1.2rem;
	color:white;
	margin-top:1rem;
}
.appicon{
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	padding:10px;
	gap:0.5rem;
}
.appicons{
	height:40px;
	width:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	background-color:white;
	}
.appicons iconify-icon{
	font-size:2rem;
	color:blue;
	
}
.appicons iconify-icon:hover{
	color:white;
}

/* .cup iconify-icon{ */
	/* font-size:1.7rem; */
	/* padding:0.2rem; */
	/* border-radius:50%; */
	/* border:1px solid black; */
	/* background-color:white; */
	/* color:blue; */
	/* margin-top:1rem; */
/* } */
@media(min-width:768px){
	
	.app1{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	}
	.web1{
	width:48%;
	margin-top:2rem;
	}
}
@media(min-width:1024px){
	.app1{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	}
	.web1{
	width:32%;
	margin-top:2rem;
	}
	.Portfolio1 p{
	font-size:1.3 rem;
	text-align:center;
	}

}
/* FINISHED */
.team{
	width:100%;
	padding-top:3rem;
}
.team1 h1{
	font-size:2rem;
	color:5C768C;
	text-align:center;
	padding-top:3.5rem;
}

.team1 p{
	font-size:1.2rem;
	color:gray;
	text-align:center;
	margin-top:2rem;
	
	}

.teams{
	 /* padding-top:3rem; */
	 padding-bottom:3rem;
 }


 @media(min-width:375px){ 
.team{
    display: flex;
    flex-wrap: wrap;
     gap: 3.5rem; 
}
.member1{
    width:100%; 
    position: relative;  	
}
.White{
	overflow:hidden;
}
.member1 img{
    width:100%;
	transition:all 0.5s ease;
}
.member1 img:hover{
	transform:scale(1.1);
	
}
.member{
    position:absolute;
    background-color:#839eb5d6;
    padding: 1rem ;
    border-radius: 5px;
    text-align: center;
    bottom: -48px;
    right: 20px;
    left: 20px;
}
.member h4 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.member h4::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
	left: calc(50% - 25px);
    background: #fff;
    margin: 1.6rem 0;
}
.member p{
    font-style: italic;
    font-size: 1.1rem;
    color: #fff;
}
.teamicon{
    margin: 1rem 0;
}
.teamicon iconify-icon{
    color: #eee;
	}
}
@media(min-width:768px){
.team{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
	
}
.member1{
    width: 48%; 
    position: relative; 
margin-top:3rem;	
}
.member1 img{
    width: 100%;
}
.member{
    position:absolute;
    background-color:#839eb5d6;
    padding: 1rem 0;
    border-radius: 4px;
    text-align: center;
    bottom: -48px;
    right: 20px;
    left: 20px;
}
.member h4 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.member h4::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background: #fff;
    left: calc(50% - 25px);
    margin: 1.6rem 0;
}
.member p{
    font-style: italic;
    font-size: 1.1rem;
    color: #fff;
}
.teamicon{
    margin: 1rem 0;
}
.teamicon iconify-icon{
    color: #eee;
}
}
@media(min-width:1024px){
.team{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.member1{
    width: 23%; 
    position: relative;   
}
.member1 img{
    width: 100%;
}
.member{
    position:absolute;
    background-color:#839eb5d6;
    padding: 1rem 0;
    border-radius: 4px;
    text-align: center;
    bottom: -48px;
    right: 20px;
    left: 20px;
}
.member h4 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}
.member h4::after{
    content: "";
    width: 20%;
	margin:auto;
    height: 2px;
	line-height:2;
    background: #fff;
	display:block;
    margin-top:.5rem;
}
.member p{
    font-style: italic;
    font-size: 1.1rem;
    color: #fff;
}
.teamicon{
    margin: 1rem 0;
}
.teamicon iconify-icon{
    color: #eee;
}
}

/* finish */
.frequently{
	width:100%;
	background-color: F5F9FC;
	margin-top:5rem;
	padding-bottom:2rem;
}
.question{
	width:100%;
}
.question1{
	width:100%;
}
.question1 h1{
	font-size:2rem;
	color:5C768D;
	text-align:center;
	font-weight:900;
	padding:1rem;
}
.duis h2{
	font-size:1.5rem;
	color:#1f548;
	margin-top:3rem;
	font-weight:500;
}
.duis p{
	font-size:1.2rem;
	margin-top:1.5rem;
	line-height:1.5;
}
@media(min-width:768px){
	.container{
		width:90%;
	}
	
}
@media(min-width:1024px){
	
	.questions{
		width:100%;
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.duis{
		width:48%;
	}
	
}

.contact{
	width:100%;
	background-color:FFFFFF;
}
.addr{
	width:100%
}
.addr1{
	width:100%;
}
.addr1 h1{
	font-size:2rem;
	color:5C768D;
	margin-top:3.5rem;
	text-align:center;
}
.newyork{
	width:100%;
	padding:1rem;
	border:1px solid white;	
	margin-top:3rem;
	box-shadow:0 0 30px rgb(214 215 216/60%);
	padding-bottom:2rem;
}
/* .newyork iconify-icon{ */
	/* font-size:2rem; */
	/* height:65px; */
	/* width:65px; */
	/* border:3px dotted #9eccf4; */
	/* color:blue; */
	/* display:flex; */
	/* justify-content:center; */
	/* align-items:center; */
	/* border-radius:50%; */
	/* margin:auto; */
	/* } */
.newyork h2{
	font-size:1.7rem;
	margin-top:1rem;
	text-align:center;
	font-weight:500;
}
.newyork p{
	font-size:1rem;
	margin-top:1rem; 
	text-align:center;
}
.emailus{
	width:100%;
	padding:1rem;
	border:1px solid white;	
	margin-top:3rem;
	box-shadow:0 0 30px rgb(214 215 216/60%);
	padding-bottom:2rem;
}
.emailusicon{
	height:70px;
	width:70px;
	border:3px dotted #9eccf4;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	margin:auto;
	}
.emailusicon iconify-icon{
	font-size:2rem;
	color:blue;
}
.emailus h2{
	font-size:1.7rem;
	margin-top:1rem;
	text-align:center;
	font-weight:500;
}
.emailus p{
	font-size:1rem;
	margin-top:1rem; 
	text-align:center;
}
@media(min-width:768px){
	.emailusicon{
	height:70px;
	width:70px;
	border:3px dotted #9eccf4;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	margin:auto;
	}
.emailusicon iconify-icon{
	font-size:2rem;
	color:blue;
}
}
@media(min-width:1024px){
		
		.addr{
			width:100%;
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
		}
		.newyork
			{
			width:48%;
		}
		.emailus{
			width:24%
		}
}
	.book {
		width:100%;
		padding-top:2rem;
		box-shadow:0 0 30px rgb(214 215 216/60%);
		
	}
	.table11{
		padding-top:2rem;
		margin:auto;
	}
	.yourname1{
		box-shadow:0px  5px 90px 0px rbg(110 123 131/10%);
		margin:atuo;
	}
	.yourname1 input{
		width:100%;
		margin-top:1.5rem;
		padding:1rem;
		margin:atuo;
		border:1px solid #CED4DA;
		}
	.yourname1 textarea{
		width:100%;
		margin-top:1.5rem;
		padding:1rem;
		border:1px solid #CED4DA;
        font-family:'Raleway', sans-serif;
        color:grey;		
		
	}
	.emailid{
        display:flex;
		justify-content:center;
		margin-top:40px;
		margin-bottom:40px;
	}

	.emailid a{
		text-decoration:none;
		color:white;
		background-color:629FD3;
		padding:15px;
		
			
		}
@media(min-width:768px){
		.yourname1 input{
			width:100%;
			margin-top:1.5rem;
			padding:1rem;
			margin:atuo;
			border:1px solid CED4DA;
			}
			
		.yourname1 textarea{
			width:100%;
			margin-top:1.5rem;
			border:1px solid CED4DA;
		}
		.emailid{
			margin:auto;
			margin-top:40px;
		margin-bottom:40px;
	}
		}
		.emailid a{
			text-decoration:none;
			color:white;
			background-color:629FD3;
			padding:15px;
			
			}
	
}

@media(min-width:1024px){
		.yourname1 {
			width:100%;
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			margin:atuo;
			}
		.mailname{
			width:48%;
		}
		.mail{
				width:100%;
				display:flex;
				justify-content:space-between;
			}
		.mailname input{
			width:100%;
			border:1px solid CED4DA;
			
			}
		.emailid{
			margin:auto;
			background-color:629FD3;
		}
		.emailid a{
			text-decoration:none;
			color:white;
			padding:15px;
			}
}
/* ends */
.link{
	padding:30px 0px 30px 0px;
	background-color:#5c768d;
	color:white;
	
	
}
.phone h1{
	font-size:20px;
	font-weight:600;
}
.phone h3{
	font-size:18px;
	margin-top:20px;
}
.phone p{
	font-size:18px;
	margin-top:20px;
}
.phoneicon {
	display:flex;
	margin-top:1rem;
	width:100%;

}
.phoneicon iconify-icon{
	font-size:1.5rem;
	height:2.5rem;
	width:2.5rem;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	 background-color:#768fa6;
	 color: #fff;
	 margin-right:0.5rem;
 } 
 .phoneicon iconify-icon:hover{
	 background-color:#5295CE;
 }
.usefullink ul, li{
	display:block;
		padding:10px;
}
.usefullink a:hover{
	color:#5295CE;
}
.usefullink{
	margin-top:20px;
}
.usefullink h4{
	font-size:18px;
	font-weight:600;
}
.usefullink iconify-icon{
	font-size:15px;
}
.usefullink a{
	text-decoration:none;
	font-size:1.2rem;
		color:white;
}
.news{
	margin-top:30px; 
}
.butt a{
	padding:10px;
	text-decoration:none;
	background-color:#428bca;
	color:white;

}
.butt{
	margin-top:20px;
	
}
.emailbox{
	padding:10px;
}
.news h4{
	font-size:18px;
	font-weight:600;
} 
@media(min-width:768px){
	.phone{
		width:48%;
	}
	.usefullink{
		width:48%;
	}
	.news{
		width:48%;
	}
	.usa {
		display:flex;
		/* justify-content:space-between; */
		flex-wrap:wrap;
		width:100%;
	} 
	
}
@media(min-width:1024px){
	.phone{
		width:22%;
		margin-top:20px;
	}
	.usefullink{
		width:20%;
	}
	.news{
		width:30%;
	}
	.usa{
		display:flex;
		/* justify-content:space-between; */
	}
	.phone h1{
		font-size:18px;
	}
	.phone h3{
		font-size:1.2rem;
	}
	.phone p{
		font-size:16px;
	}
	.phoneicon iconify-icon{
		font-size:1.5rem;
	height:2.5rem;
	width:2.5rem;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	 background-color:#768fa6;
	 color: #fff;
	 margin-right:0.5rem;
	}
.phoneicon iconify-icon:hover{
	background-color:#5295CE;
}
	.usefullink h4{
		font-size:18px;
		font-weight:600;
	}
	.usefullink iconify-icon{
		font-size:16px;
	}
	.usefullink a{
		font-size:1.1rem;
	}
}
 .footer{
		padding-top:30px;
		padding-bottom:30px;
		background-color:#587187;
		color:white;
	}
	.para1{
		text-align:center;
	}
	.para1 p{
		font-size:16px;
		margin-bottom:10px;
	}
	.para1  a{
	    text-decoration:none;
		color:#9eccf4;;
	} 
	