*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
}
.login{
	background-color:aqua;
	height:100vh;
	width:100%;
}
.login h1{
	text-align:center;
	line-height:3;
}
